<div class="container coasters-index">

  <a href="/coasters/new" class="btn btn-dark">Crear nueva montaña rusa</a>

  <h1 style="font-weight: 100">Índice de montañas rusas</h1>

  <!-- ***** CREA UNA FICHA DE LISTA POR CADA MONTAÑA RUSA **** -->

  <hr>
  <a href="#" class="btn btn-sm btn-dark">Ver detalles</a>
  <h4>Nombre de montaña rusa</h4>
  <p>Descripción de montaña rusa</p>
  <small><strong>Longitud: </strong> 000m | <strong>Inversiones: </strong> 0 | <strong>Parque: </strong> XXXXXX</small>
  <hr>

  <a href="#" class="btn btn-sm btn-dark">Ver detalles</a>
  <h4>Nombre de montaña rusa</h4>
  <p>Descripción de montaña rusa</p>
  <small><strong>Longitud: </strong> 000m | <strong>Inversiones: </strong> 0 | <strong>Parque: </strong> XXXXXX</small>
  <hr>

  <a href="#" class="btn btn-sm btn-dark">Ver detalles</a>
  <h4>Nombre de montaña rusa</h4>
  <p>Descripción de montaña rusa</p>
  <small><strong>Longitud: </strong> 000m | <strong>Inversiones: </strong> 0 | <strong>Parque: </strong> XXXXXX</small>
  <hr>

  <a href="#" class="btn btn-sm btn-dark">Ver detalles</a>
  <h4>Nombre de montaña rusa</h4>
  <p>Descripción de montaña rusa</p>
  <small><strong>Longitud: </strong> 000m | <strong>Inversiones: </strong> 0 | <strong>Parque: </strong> XXXXXX</small>
  <hr>

  <a href="#" class="btn btn-sm btn-dark">Ver detalles</a>
  <h4>Nombre de montaña rusa</h4>
  <p>Descripción de montaña rusa</p>
  <small><strong>Longitud: </strong> 000m | <strong>Inversiones: </strong> 0 | <strong>Parque: </strong> XXXXXX</small>
  <hr>

</div>