<div class="container coasters-index">

  <h1 style="font-weight: 100">Nombre de la montaña rusa</h1>

  <h4>Descripción</h4>
  <p>Descripción de montaña rusa</p>
  <p><strong>Longitud: </strong> 000m | <strong>Inversiones: </strong> 0</p>

  <hr>

  <h5>Sobre el parque</h5>
  <p><strong>Nombre</strong>: nombre del parque</p>
  <p><strong>Descripción</strong>: descripción del parque</p>

  <a href="/coasters" class="btn btn-dark">Volver</a>

</div>